#header_div{
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
    height: 100px;
}
.logo_div{
    margin-left: 15%;
    /* width: 100px; */
    text-align: center;
    float: left;
}
.logoImg_div{
    height: 100%;
    
}
.logoImg_header{
    display: inline-block;
    height: 100%;
    width: 100px;
}

.logoText{
    font-size: x-large;
    color: rgb(9, 78, 9);
    /* float: left; */

}

#space_div{
    width:50%;
    height: 100%;
    float: left;
    text-align: center;
}

#btn_div{
    float: left;    
    width: 10%;
    height: 50px;
    text-align: center;
    margin-top: 25px;
}
#btn_moveToLogin{
    background-color: white;
    border: 1px black solid;
    height: 60px;
    width: 120px;
    font-size: x-large;
    margin-right: 10px;
}
#btn_moveToLogin:hover{
    font-weight: bold;
    height: 65px;
    width: 105px;
    background-color: lightgray;
}
#myPage_div{
    width: 8%;
    height: 100%;
    margin-top: 20px;
    float: left;    
    font-size: small;
    margin-left: 20px;
}

.userIconImg{
    width: 70px;
    height: 70px;
    display: inline-block;
}
.userIconImg:hover{
    width: 75px;
    height: 75px;
}