#header_div{
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
    height: 100px;
}
.logo_div{
    margin-left: 15%;
    
    width: 110px;
    text-align: center;
    float: left;
}
.logo_div:hover{
    transform: translateY(-5px);
}

.logoImg_div{
    height: 100%;
    width: 120%;
    margin-left: 15px;
    display: flex;
}
.logoImg_header{

    height: 100%;
    width: 100px;
}


.logoText_div{
    position: relative;
    top: -60px;
    left: 100px;
    text-align: center;

}

.logoText{
    font-size: xx-large;
    color: rgb(9, 78, 9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#space_div{
    width:50%;
    height: 100%;
    float: left;
    text-align: center;
}

#btn_div{
    float: left;    
    width: 10%;
    height: 50px;
    text-align: center;
    margin-top: 25px;
}
#btn_moveToLogin{
    background-color: white;
    color: rgb(9, 78, 9);
    height: 60px;
    width: 120px;
    font-size: x-large;
    margin-right: 10px;
    border-radius: 15px;
    text-align: center;
    border-color: rgb(224, 238, 224);
}
#btn_moveToLogin:hover{
    box-shadow: 0 0 20px rgb(224, 238, 224);
    transform: translateY(-5px);
    
}
#myPage_div{
    width: 8%;
    height: 100%;
    margin-top: 20px;
    float: left;    
    font-size: small;
    margin-left: 20px;
}

.userIconImg{
    width: 70px;
    height: 70px;
    display: inline-block;
}
.userIconImg:hover{
    transform: translateY(-5px);
}
