table, td, th{
    border: 1px solid rgb(0, 75, 16);
    border-collapse: collapse;
}

#result_table{
    width: 1100px;
    height: 200px;
    text-align: center;
}

td{
    width: 900px;
} 

img{
    width: 200px;
    height: 200px;
}

li{
    list-style:none;
}