table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

#result_table{
    width: 900px;
}

th{
    width: 250px;
}

td{
    width: 650px;
}

#searchResult_div, #result_div{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

p{
    font-size:x-large;
    margin-bottom: 10px;
}