table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

#result_table{
    width: 900px;
    height: 200px;
    text-align: center;
}

th{
    width: 200px;
}

td{
    width: 700px;
}

p{
    font-size:x-large;
    margin-bottom: 10px;
}

img{
    width: 200px;
    height: 200px;
}

li{
    list-style:none;
}