table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}



#interest_div{
    position: absolute;
    left: 50%;
    top: 23%;
    transform: translate(-50%, -50%);
}

hr{
    width: 1200px;
    border: 0;
    height: 2px;
    background: black;
}

.myPageTitle{
    font-size:x-large;
    font-weight: bold;
    margin-bottom: 10px;
}