.logoLogin_div{
    position: absolute;
    width: 10%;
    height: 100%;
    text-align: center;
    top:30%;
    left:42%;

}
.logoImg_login{
    width: 200px;
    display: inline-block;

}
.login_div{
    top: 60%;
    
}

#login_input_div{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);

}

#id_label, #pw_label{
    font-size: 30pt;
    width: 70px;
    display: inline-block;
    text-align: center;
}

#id, #pw{
    width: 300px;
    height: 45px;
    font-size: large;
}

#login_btn{
    width: 120px;
    height: 120px;
    margin: 20px;
    margin-left: 40px;
    font-size: 25pt;
    position: absolute;
    left: 58%;
    top: 52.5%;
    background-color: white;
    
}
#login_btn:hover{
    background-color: lightgray;
    color: white;
    width: 130px;
    height: 130px;
}
#para{
    margin: 20px;
}