table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

#details_div{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
#details_table{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#img_div{
    margin-left: 3%;

}
.detailPage_hr{
    width: 950px;
}

#plantImg_div{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#plantingInfo_div{
    margin-top: 320px;
    left: 50%;
}

p{
    font-size:large;
    font-weight: bold;
    margin-bottom: 10px;
}
th{
    width: 250px;
}

td{
    width: 650px;
}

p{
    font-size:x-large;
    margin-bottom: 10px;
}

.registerBtn_div{
    margin-top: 30px;
    margin-left: 750px;
    
}

.registerInterests_btn{
    width: 170px;
    height: 50px;
    font-size: 16pt;
    background-color: white;
    color: rgb(9, 78, 9);
    border-radius: 15px;
    border-color: rgb(224, 238, 224);
}

.registerInterests_btn:hover{
    box-shadow: 0 0 20px rgb(224, 238, 224);
    transform: translateY(-5px);
}
.icon_heart{
    color: red;
    font-weight: bolder;
}