table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}

#details_table{
    width: 900px;
}

th{
    width: 250px;
}

td{
    width: 650px;
}

p{
    font-size:x-large;
    margin-bottom: 10px;
}
.buttonName{
    margin-top: 30px;
    
}
.registerInterests_btn{
    width: 200px;
    height: 50px;
    font-size: x-large;
    /* font-weight: bold; */
    background-color: white;
    color: black;
}
.icon_heart{
    color: red;
    font-weight: bolder;
}