table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: large;
    padding: 5px;
}


#search_div{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

hr{
    width: 1200px;
    border: 0;
    height: 2px;
    background: black;
}

#search_table{
    width: 1200px;
}

.serchTypeDropBox{
    font-size: large;
    font-weight: bold;

}
.search_div{
    margin-left: 15px;
}
#searchWordInput{
    height: 20px;
    font-size: large;
}
#search_btn{
    font-size: large;
    margin-left: 5px;
}
p{
    font-size:large;
    font-weight: bold;
    margin-bottom: 10px;
}

#searchList_div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}