table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}



#search_div{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}

hr{
    width: 1200px;
    border: 0;
    height: 2px;
    background: black;
}

#search_table{
    width: 1200px;
}

p{
    font-size:x-large;
    margin-bottom: 10px;
}

#searchList_div{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}